body {
    background-color: rgb(255, 208, 0);
    color: black;
    font-size: 19px; /* Reduzindo a fonte */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serifgit;
}

main {
    background-color: rgb(0, 162, 255);
    margin: auto;
    line-height: 1.5;
    padding: 90px 0;
    vertical-align: middle;
    text-align: center;
    max-width: 60%; /* Aumentando a largura máxima */
    height: 530px;
    border-radius: 50px;
    display: flex; /* Adicionando display flex para alinhar os itens */
    flex-direction: column; /* Colocando os itens em uma coluna */
    align-items: center;
    justify-content: center;
}

.html {
    color: #e34c26;
}

.script {
    color: rgb(255, 208, 0);
}

.css {
    color: blue;
}

.head {
    text-align: center;
    max-width: 60%; /* Ajustando a largura máxima */
}

.head input {
    border: solid black;
    width: 150px;
    height: 50px;
}

.botoes {
    max-width: 60%; /* Ajustando a largura máxima */
    display: flex; /* Adicionando display flex para alinhar os botões */
    justify-content: center; /* Alinhando os botões no centro horizontalmente */
    align-items: center;
    margin-top: 20px; /* Ajustando a margem superior */
}

.botoes button {
    border: solid black;
    font-size: 40px; /* Reduzindo o tamanho da fonte */
    margin-left: 1px; /* Reduzindo a margem entre os botões */
    margin-right: 10px; /* Reduzindo a margem entre os botões */
    width: 150px;
    height: 50px;
    border-radius: 10px;
    justify-content: center;
    background-color: rgb(255, 208, 0);
}

.botoes p {
    margin-top: 0px;
    font-size: 30px; /* Reduzindo o tamanho da fonte */
    color: rgb(0, 162, 255);
}

.resu {
    text-align: center;
    max-width: 60%; /* Ajustando a largura máxima */
    margin-top: 20px; /* Ajustando a margem superior */
}
